﻿@model giaodang.Connect.Models.Shipper

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Shipper</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Shipper_id" />
            <div class="form-group">
                <label asp-for="License_lates" class="control-label"></label>
                <input asp-for="License_lates" class="form-control" />
                <span asp-validation-for="License_lates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaythamgia" class="control-label"></label>
                <input asp-for="Ngaythamgia" class="form-control" />
                <span asp-validation-for="Ngaythamgia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_id" class="control-label"></label>
                <input asp-for="User_id" class="form-control" />
                <span asp-validation-for="User_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

