﻿@model IEnumerable<giaodang.Connect.Models.Shipper>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.License_lates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaythamgia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.License_lates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaythamgia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Shipper_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Shipper_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Shipper_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
