﻿@model giaodang.Connect.Models.Users

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gioitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.funtion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.funtion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.user_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
