﻿@model IEnumerable<giaodang.Connect.Models.Users>

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <h1 class="mt-4">Quản lý Người Dùng</h1>
    <ol class="breadcrumb mb-4" style="text-align">
        <li style="text-align:center">Thống kê</li>
    </ol>
    <div class="row">
        <div style="width:200px">


        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <b style="text-align:center">Khách Hàng</b>
                <div class="card-footer d-flex align-items-center justify-content-between">


                </div>
                <strong style="text-align:center;margin-bottom:20px">@{
                    var dem = 0;
                    foreach(var item in Model)
                    {
                        if (item.funtion == 0) dem++;
                    }
                    
                }
                @dem
                </strong>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <b style="text-align:center;color:white">Shipper</b>


                <div class="card-footer d-flex align-items-center justify-content-between">


                </div>
                <strong style="text-align:center;margin-bottom:20px">

                    @{
                        var dem_ship = 0;
                        foreach (var item in Model)
                        {
                            if (item.funtion == 1) dem_ship++;
                        }

                   
                    @dem_ship
                    }

                </strong>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <b style="text-align:center;color:white">Admin</b>

                <div class="card-footer d-flex align-items-center justify-content-between">


                </div>
                <strong style="text-align:center;margin-bottom:20px">
                    @{
                     var dem_ad = 0;
                    foreach(var item in Model)
                    {
                    if (item.funtion == 2) dem_ad++;
                    }

                    
                    @dem_ad
                    }

                </strong>
            </div>
        </div>

    </div>
    @*<div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Area Chart Example</div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Bar Chart Example</div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>*@
    <a class="btn btn-primary" asp-action="Create">Create New</a>
    <div class="card mb-4">
 
        <div class="card-header"><i class="fas fa-table mr-1"></i>Bảng Người dùng</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered dataTable dtr-inline" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.birthday)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.user_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.password)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.gioitinh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.diachi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.sdt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.email)
                            </th>
                            <th>
                              Chức năng
                            </th>
                          
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.birthday)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.password)
                            </td>
                            @if (item.gioitinh)
                            {
                                <td>Nam</td>
                            }
                            else
                            {
                                <td>Nữ</td>
                            }

                            <td>
                                @Html.DisplayFor(modelItem => item.diachi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sdt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>

                            @if (item.funtion == 1)
                            {
                                <td>Shipper</td>
                            }
                            @if (item.funtion == 2)
                            {
                                <td>Admin</td>
                            }
                            @if (item.funtion == 0)
                            {
                                <td>Khách Hàng</td>
                            }


                            <td>
                                <a asp-action="Details" asp-route-id="@item.user_id">Xem</a> |
                                <a asp-action="Edit" asp-route-id="@item.user_id">Sửa</a> |
                                <a asp-action="Delete" asp-route-id="@item.user_id">Xóa</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    
    
</script>