﻿@model giaodang.Connect.Models.customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shopname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shopname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shop_adds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shop_adds)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cumstomer_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
