﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] -Admin</title>
    <link href="/css/styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"> </i>
        </button><!-- Navbar Search-->
        <a style="text-align:center;color:white">Giao Hàng Thông Minh </a>
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Tìm Kiếm..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Tài khoản</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://localhost:5001/User/Login">Đăng Xuất</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Quản Lý</div>
                        <a class="nav-link" href="https://localhost:5001/User/Index">

                            <div class="sb-nav-link-icon"><i class="fa fa-user"></i></div>
                            Quản Lý Người Dùng
                            <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-right"></i></div>

                        </a>
                        <a class="nav-link" href="https://localhost:5001/Bills/Index">
                            <div class="sb-nav-link-icon"><i class="fa fa-book"></i></div>
                            Quản Lý Hóa Đơn
                            <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-right"></i></div>

                        </a>

                        @*<div class="sb-sidenav-menu-heading">Liên Hệ Phản Hồi</div>
                        <a class="nav-link" href="https://localhost:5001/notifications/Index">
                            <div class="sb-nav-link-icon"><i class="fa fa-bell"></i></div>
                            Thông Báo
                            <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-right"></i></div>
                        </a><a class="nav-link" href="https://localhost:5001/Feedbacndks/Iex">
                            <div class="sb-nav-link-icon"><i class="fa fa-comment"></i></div>
                            Phản Hồi
                            <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-right"></i></div>
                        </a>
                    </div>*@
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Đã đăng nhập với:</div>
                    Admin
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
                
              
            </main>
            @*<footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; CNT57CL</div>

                        </div>
                    </div>
                </footer>*@
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/chart-area-demo.js"></script>
    <script src="/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/datatables-demo.js"></script>
</body>
</html>
