﻿@model giaodang.Connect.Models.Feedback

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Media)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Media)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cumstomer_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cumstomer_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Feedback_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
