﻿@model IEnumerable<giaodang.Connect.Models.Feedback>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Media)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cumstomer_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Media)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cumstomer_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Feedback_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Feedback_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Feedback_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
