﻿@model giaodang.Connect.Models.Bill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipper_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipper_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_reciver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_reciver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone_number_reciver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone_number_reciver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Bill_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
