﻿@model giaodang.Connect.Models.Bill

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bill_id" />
            <div class="form-group">
                <label asp-for="Shipper_id" class="control-label"></label>
                <input asp-for="Shipper_id" class="form-control" />
                <span asp-validation-for="Shipper_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_id" class="control-label"></label>
                <input asp-for="Customer_id" class="form-control" />
                <span asp-validation-for="Customer_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name_reciver" class="control-label"></label>
                <input asp-for="Name_reciver" class="form-control" />
                <span asp-validation-for="Name_reciver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone_number_reciver" class="control-label"></label>
                <input asp-for="Phone_number_reciver" class="form-control" />
                <span asp-validation-for="Phone_number_reciver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

