﻿
@{
    ViewData["Title"] = "Hoadondetail";
}

<html>
<head>
    <link href="~/css/hddetaill.css" rel="stylesheet" />
</head>
<body>
    <header class="clearfix">
        <div id="logo">
            <img src="~/imgaes/giaohang.png">
        </div>
        <h1>Hóa Đơn Giao Hàng</h1>
        <div id="company" class="clearfix">
            <div>Giao hàng thông minh</div>
            <div>112 Lạch Chay,<br /> Hải Phòng</div>
            <div>03212345</div>
            <div><a>giaohangthongminh@gmail.com</a></div>
        </div>
        <div id="project">
            <div><b>Tên Khách Người Nhận: </b> Nguyễn Văn A</div>
            <div><b>Địa chỉ: </b> Kiến An,Hải Phòng</div>
            <div><b>Số Điện Thoại: </b> 032342123</div>
            <div><b>Tên Người Gửi: </b> Nguyễn Thi A</div>
            <div><b>ID người gửi: </b>2222</div>
            <div><b>Thời Gian: </b>@DateTime.Now</div>
            <div><b>Tên Shipper nhận đơn hàng: </b> Nguyễn Văn C</div>
            <div><b>ID Shipper: </b>21212</div>
        </div>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th class="service">STT</th>
                    <th class="desc">Sản Phẩm</th>
                    <th>Giá</th>
                    <th>Số Lượng</th>
                    <th>Tổng</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 10; i++)
                {


                    <tr>
                        <td class="service">@(i+1)</td>
                        <td class="desc">Sản Phẩm @i</td>
                        <td class="unit">@(i*100000) VNĐ</td>
                        <td class="qty">@(new Random().Next(100))</td>
                        <td class="total">@(new Random().Next(1000000)) VNĐ</td>
                    </tr>
                }
                <tr>
                    <td colspan="4">Tổng</td>
                    <td class="total">@(new Random().Next(1000000)) VNĐ</td>
                </tr>
                <tr>
                    <td colspan="4">Giảm 25%</td>
                    <td class="total">300.00 VNĐ</td>
                </tr>
                <tr>
                    <td colspan="4" class="grand total">Tổng Cộng</td>
                    <td class="grand total">3,500.00 VNĐ</td>
                </tr>
            </tbody>

    </main>

</body>
</html>

