﻿@model IEnumerable<giaodang.Connect.Models.Bill>

@{
    ViewData["Title"] = "Index";
}

 
<div class="container-fluid">
    <h1 class="mt-4">Quản lý Hóa Đơn</h1>

    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Danh Sách Hóa đơn</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipper_id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer_id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name_reciver)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone_number_reciver)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Time)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shipper_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name_reciver)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone_number_reciver)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Time)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Bill_id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Bill_id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Bill_id">Delete</a>
                                    <a name="hoadon" style="text-align:center;color:white" class="btn-primary" href="https://giaohangthongminh.azurewebsites.net/Bills/HoadonDetail"> Chi Tiết</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
