﻿@model IEnumerable<giaodang.Connect.Models.notification>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              "Title"
            </th>
            <th>
               "Content"
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Title)*@
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Content)*@
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Time)*@
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Admin_id)*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Notification_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Notification_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Notification_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
